root = true

[*]
end_of_line = lf
insert_final_newline = true

# Enable Python specific rules
[*.py]
indent_size = 4
max_line_length = 120

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
